{% include 'nav.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rice</title>
    <style>
        h1{
            color: azure;

        }
        body{
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
        H2{
            background-color: blue;
            color: aliceblue;
        }
    </style>
</head>
<body background="static/cotton.jpg">
    <center>
        <h2>PREDICTION RESULT</h2><br /><br />
        <h1>
            We can water <b>COTTON CROP</b> two times for the next day and it helps us to conserve water. 
        </h1>
    </center>
    
</body>
</html>